.chat-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 60px;
}
.side-pane {
    display: flex;
    flex: 3;
    flex-direction: column;
    height: 80vh;
    border: 1px solid #000;
}
.top-bar {
    display: flex;
    height: 40px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #343434;
    color: aliceblue;
}
.body-container {
    display: flex;
    flex: 6;
    flex-direction: column;
    height: 80vh;
    border: 1px solid #000;
}
.body-top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #3b3c36;
    color: white;
    height: 40px;
}
.body-left-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center
}
.img-box {
    display: inline-block;
    width: 35px;
    height: 35px;
	background-image: url(../../assets/images/dp.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
    border-radius: 17.5px;
}
.name-last-seen-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
